
/* always show scroll bar */

html {
    overflow-y:scroll; 
}


body {
  background-color: black;
  color: #fff;
  font-family:  'Amiri';
}

@font-face
{
font-family:'Amiri';
src: url('fonts/Amiri-Regular.ttf') format('TrueType');
}
/*
@font-face
{
font-family:'AmiriBold';
src: url('fonts/Amiri-Bold.ttf') format('TrueType');
}

@font-face
{
font-family:'DroidNaskh';
src: url('fonts/DroidNaskh-Regular.ttf') format('TrueType');
}

@font-face
{
font-family:'Lateef';
src: url('fonts/LateefRegOT.ttf') format('TrueType');
}

@font-face
{
font-family:'ScheherazadeRegOT';
src: url('fonts/ScheherazadeRegOT.ttf') format('TrueType');
}
*/

#fixtotop{
	/*position: fixed;*/
	padding-top: 1.5em;
	left:0 relative;
	background-color: #000;
}

#logoline{
 border-bottom: 1px solid #fff;
}

#info{
  font-size: 1.5em;
}

#infotext p{
  text-align: right;
}

#infotext h3{
		text-align: center;
}

#nameRows{
	position: relative;
}

#namesP{
	text-align: center;
	font-family:  'Amiri';
	/* font-family: 'Lateef'; */
	font-size: 1.5em;

}

#hint{
	float:right;
	text-align: right;
}

.personIcon{
	width: 50%;
	height: auto;
	background-color: #000;
	
	c-webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


ul {
  list-style: none; 
  margin: 0 auto;
  text-align: center;
  font-family:  'Amiri';
  font-size: 1.3em;
}

img.centerImg{
	display: block;
	margin: 0 auto;

}
